
<body ng-app="myApp">
 <div class="add-img">

 
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <div ng-show="success" class="alert alert-success">{{successMessage}}</div>
  <h4 style="margin-bottom:232px;color: white;font-size: 32px"><b>Add Product</b></h4> 
  <form  name="addForm" align="center" ng-submit= "add()">

       
       
    <div class="form-group">
   
     <div class = "col-xs-4  ">
      <label style="color: white">Id</label>
      <input type="id" name="id" class="form-control" ng-model="addForm.id" >
      <span style="color:red" ng-show="addForm.id.$dirty && addForm.id.$invalid">
          <span ng-show="addForm.id.$error.required">Id is required.</span>
          <span ng-show="addForm.id.$error.id">Invalid Id.</span>
          </span>
    </div>
    <div class="col-xs-4">
      <label style="color: white">Name</label>
      <input type="text" class="form-control" ng-model="addForm.name">
    </div>

    <div class="col-xs-4">
      <label style="color: white">Model No</label>
      <input type="text" class="form-control" ng-model="addForm.model_no">
    </div>

   <div class="col-xs-4">
      <label style="color: white">Color</label>
      <input type="text" class="form-control" ng-model="addForm.color">
    </div>
   <div class="col-xs-4">
      <label style="color: white">Size</label>
      <input type="text" class="form-control"ng-model="addForm.size">
    </div>
<div class="col-xs-4" height="2.4">
      <label style="color: white">Category</label>

       <input type="text" class="form-control"ng-model="addForm.category"> 
    </div>
<div class="col-xs-4">
      <label style="color: white">Mfg Date</label>
      <input type="text" class="form-control" ng-model="addForm.mfg_date">
    </div>
<div class="col-xs-4">
      <label style="color: white">Price</label>
      <input type="text" class="form-control" ng-model="addForm.price">
    </div>
<div>
  <button type="submit" class="btn btn-primary" style="width: 322px;
    margin-bottom: -75px">Add </button>

  </form>
</div>


</body>
</html>
