
<body  ng-app="myApp" >



<div class="home-img" >
<div class="btnhome" >



  
  <div class="h1" style="padding:46px">
  <h1 style="color:white">Add / Modify Products here</h1>
  <div  class="btnhome" ng-controller="addController">
   

     <a href="#/add" class="btn btn-info" style="width:364px">Add Product</a>

  </div>

  <div ng-controller="searchController" >

     <a href="#/search" class="btn btn-success" style="width: 364px">Search Product</a>
  </div>

  <div ng-controller="updateController">
  
    <a href="#/update" class="btn btn-warning" style="width: 364px">Update Product</a>
  </div>

  <div ng-controller="removeController">
  
     <a href="#/remove" class="btn btn-danger" style="width: 364px">Delete Product</a>
  </div>

<div ng-controller="logoutController">
 
 <a href="#/"class="btn btn-primary" style="width: 364px">Logout</a>
</div>

</div>




</body>
</html>