<!DOCTYPE html>
<html>
<head>
<title>list</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<div ng-app="myApp" ng-controller="listCtrl">
<h2>List to the product table</h2>

<table class="table table-bordered" border="8" cellpadding="5" cellspacing="5">
<thead>
<tr >
  <th>id</th>
  <th>name</th>
  <th>batch_no</th>
  <th>color</th>
 
  <th>category</th>
  <th>size</th>
  
  <th>price</th>
</tr>
 <tr ng-repeat="x in names">
 	<td>{{x.id}}</td>
 	<td>{{x.name}}</td>
 	<td>{{x.batch_no}}</td>
 	<td>{{x.color}}</td>
 	<td>{{x.category}}</td>
 	<td>{{x.size}}</td>
 	<td>{{x.price}}</td>
 </tr>	

  </thead>
  </table>
</div>
<script>
	var app = angular.module('myApp',[]);
	app.controller('listCtrl',function($scope,$http) {
    $http.get("results")
    .then(function (response) {$scope.names = response.data.records;});
  });
</script>
<div>
 <a href="/" class="btn btn-link">Home</a>      
</div>







 </body>
 </html> 




