

<body ng-app="myApp">
<div align="center" >
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
<form name="myform" class="form" ng-submit="login()">
<div class = "login-img">
    <div class = "row">
      <div class = "col-lg-12"> 
       <div class="imgcontainer" style="padding: 50px">
 
       <img src="/static/images1.jpg" alt="image" class="image">
 </div>


<div  class="col-lg-12">
        <div class = "col-lg-3 text-right">
            <label><b style="margin-right: -111px;font-size: 21px">Email</b></label>
        </div>
        <div class = "col-lg-6">
           <input type="email" class = "form-control" ng-model="loginForm.email" name="email" placeholder=" Enter email"  style="width: 50%;margin-left: -11px" required>
          
          <span style="color:red" ng-show="myform.email.$dirty && myform.email.$invalid">
          <span ng-show="myform.email.$error.required">Email is required.</span>
          <span ng-show="myform.email.$error.email">Invalid email address.</span>
          </span>



        </div> 
        
      </div>
      <div class = "col-lg-12">
        <div class = "col-lg-3 text-right">
           <label><b style="margin-right: -111px;font-size: 21px">Password</b></label>
        </div>
        <div class = "col-lg-6">
           <input type="password" class = "form-control"  placeholder="Enter Password" name="psw" ng-model="loginForm.password" required style="width: 50%"> </div>
      </div>
       
        <div class="form-actions"> 
        <button type="submit" class="btn btn-primary">Login</button>
          
      </div>

      
      <div>
        <label class="r">Remember me
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </div>

     <!--  <div class="form-actions">
        
        <button type="button" class="button">Cancel</button>
      </div>
 -->

       <a href="#/register" class="btn btn-link">Register here</a>       
</div>

</form>
</body>

  











<!-- <body ng-app="myApp" class="id" >
<div class = "login-img" >
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
<form class="form" ng-submit="login()">
<div >
    <div class = "row">
      <div class = "col-lg-12"> 
       <div class="imgcontainer">
 
       <img src="/static/images1.jpg" alt="image" class="image">
 </div>


<div  class="col-lg-12">
        <div class = "col-lg-3 text-right">
         
        <label><b>Email</b></label>
        </div>
        <div class = "col-lg-6">
           <input type="text" class = "form-control" ng-model="loginForm.email" name="email" placeholder="Enter email" required>
        </div> 
        
      </div>
      <div class = "col-lg-12">
        <div class = "col-lg-3 text-right">
           <label><b>Password</b></label>
        </div>
        <div class = "col-lg-6">
           <input type="password" class = "form-control"  placeholder="Enter Password" name="psw" ng-model="loginForm.password" required> </div>
      </div>
       
        <div class="form-actions"> 
        <button type="submit" class="btn btn-info"ng-disabled="disabled">Login</button>
          
      </div>

      
      <div>
        <label>Remember me
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </div>

      <div class="form-actions">
        
        <button type="button" class="button">Cancel</button>
      </div>

  <div>
 <a href="#/register" class="btn btn-link">Register here</a>       
</div>

</form>
</body>


  



 -->