<body ng-app="myApp">

<div class="remove-img">
  <div ng-show="error" class="alert alert-danger text-center"><span>{{errorMessage}}</span></div>
  <div ng-show="success" class="alert alert-success text-center"><span>{{successMessage}}</span></div>

  <h2>Delete Product</h2> 
  
  <form ng-submit="remove()">

       
       
    <div class="form-group">
   
     <div class = "col-xs-4">
      <label>id</label>
      <input type="text" class="inputde"  ng-model="removeForm.id" style="margin-right: -767px; width=281px;padding:9px">
    </div>
  
<div>

 <button type="submit" class="buttonde"style="width: 235px;background-color: green;padding: 9px">Delete</button>
</div>
  </form>
</div>


</body>
</html>
