<body ng-app="myApp">
	  <h3><b>search for products:</b></h3>
 <form  ng-submit="search()">

 	 <input type="button" class="btn btn-default"  value="id">
  
     <input type="text" class="btn btn-default" ng-model="searchForm.id">
 
     <button type="submit"ng-click="search()" class="btn btn-primary active"> </button>
 </form>




  <div>
     <h2>List to the product table</h2>

  <table class="table table-bordered" >
  <thead>
  <tr >
  <th>id</th>
  <th>name</th>
  <th>batch_no</th>
  <th>color</th>
  <th>category</th>
  <th>size</th>
  <th>price</th>
</tr>
 <tr>
  <td>{{search.id}}</td>
  <td>{{search.name}}</td>
  <td>{{search.batch_no}}</td>
  <td>{{search.color}}</td>
  <td>{{search.category}}</td>
  <td>{{search.size}}</td>
  <td>{{search.price}}</td>
 </tr>   
 </thead>
</table>table>
</div>


