<body ng-app="myApp">

<div class="update-img">

  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <div ng-show="success" class="alert alert-success">{{successMessage}}</div>


  <h2>Update Product</h2> 

  <form align="center" ng-submit= "update()">

       
       
    <div class="form-group">
   
     <div class = "col-xs-4  ">
      <label>Id</label>
      <input type="text" class="form-control" ng-model="updateForm.id" >
    </div>
    <div class="col-xs-4">
      <label>Name</label>
      <input type="text" class="form-control" ng-model="updateForm.name">
    </div>
    <div class="col-xs-4">
      <label>Model No</label>
      <input type="text" class="form-control" ng-model="updateForm.model_no">
    </div>

   <div class="col-xs-4">
      <label>Color</label>
      <input type="text" class="form-control" ng-model="updateForm.color">
    </div>
   <div class="col-xs-4">
      <label>Size</label>
      <input type="text" class="form-control"ng-model="updateForm.size">
    </div>
<div class="col-xs-4">
      <label>Category</label>
      <input type="text" class="form-control"ng-model="updateForm.category">
    </div>
<div class="col-xs-4">
      <label>Mfg Date</label>
      <input type="text" class="form-control" ng-model="updateForm.mfg_date">
    </div>
<div class="col-xs-4">
      <label>Price</label>
      <input type="text" class="form-control" ng-model="updateForm.price">
    </div>
    <div>
       <button type="submit" class="btn btn-primary" style="width:158px">Update</button>


</div>
</form>
</div>
</div>
</div>
</div>
</div>



</body>
